<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/pokestyle.css">
    <title></title>
  </head>
  <body class="pokemon">
    <h2 class="containareon">Edit Pokemon</h2>
    <div class="containareon">


    <form action="/trainers/<%=@trainer.id%>" method="post" >
      <input type="hidden" name="_method" value="put">
      <label>Name:</label>
      <input name="trainer[name]" value = "<%=@trainer.name%>">
      <br>
      <label>Level:</label>
      <input name="trainer[level]" value = "<%=@trainer.level%>">
      <br>
      <label>img_url:</label>
      <input name="trainer[img_url]" value = "<%=@trainer.img_url%>">
      <br>
      <input type="submit" value="Update">
    </form>
    </div>
    <div class="containareon">


    <h3>Delete Trainer</h3>
    <form action="/trainers/<%= @trainer.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input class="button-delete" type="submit" value="Delete!">
    </form>
    </div>
  </body>
</html>
